.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.app > .app-markdown {
  flex-grow: 1;
}

.app-footer-copyright {
  text-align: center;
}

.app-markdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-markdown > * {
  margin: 20px;
}

@media only screen and (max-width: 750px) {
  .app-markdown {
    flex-direction: column;
  }

  .app > .app-markdown {
    height: 0;
  }
}
